body {
  .wrapper {
    min-height: 100vh;
    background-color: $color-white;
    margin: 0 auto;
    padding-top: 180px;

    .inner {
      max-width: 1280px;
      margin: 0 auto;
      text-align: center;
      padding: 0 30px 80px;
    }

    .title {
      font-size: 40px;
      margin: 0 0 30px;
      color: $color-green5;
    }

    @include mobile {
      .title {
        font-size: 25px;
      }
    }

    button {
      border-radius: 10px;
      padding: 10px 20px;
      font-weight: 500;
      border-radius: 10px;
      transition: ease-in 0.3s;
    }

    input {
      border: none;
      padding: 10px 15px;
      border-radius: 10px;

      &::placeholder {
        color: #d2d2d2;
      }

      &:focus::placeholder {
        color: transparent;
      }

      &:focus-visible {
        outline: 1px solid $color-green5;
      }
    }

    textarea {
      padding: 10px 15px;
      border-radius: 10px;

      &::placeholder {
        color: #d2d2d2;
      }

      &:focus::placeholder {
        color: transparent;
      }

      &:focus-visible {
        outline: 1px solid $color-green5;
      }
    }
  }
}

// dark mode
body {
  &[theme='dark'] {
    .navbar {
      background-color: #333;
    }

    .wrapper {
      background-color: #4b4b4b;
    }

    .detail-content,
    .comment-area {
      color: $color-white;
    }

    .input-text,
    .textarea,
    .comment-input-area input {
      background-color: #6d6d6d;
      color: $color-white;
    }
  }
}
