.wrapper {
  .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  h3.title {
    font-size: 60px;
    margin: 0;
    color: $color-green4;
  }

  .refresh-btn {
    margin-top: 10px;
    background-color: $color-pastel-blue;
    color: $color-blue;

    &:hover {
      background-color: $color-blue;
      color: $color-pastel-blue;
    }
  }
}
